header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border: 2px solid #000000;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #000000;
}

.produtos li:hover{
    border-color: #c78c19;
}

.produtos li:active{
    border-color: #088c19;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.descricao {
    font-size: 18px;
}

.preço {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

footer{
    background: url(./img/bg.jpg);
    text-align: center;
    padding: 40px 0px;
}

.copyright {
    color:  #FFFFFF;
    margin: 20px 0 0;
    font-size: 13px;
}