body {
    background: #CCCCCC
}

#banner {
    width: 100%;
}

.sobreBarbearia {
    text-align: center
}

h2 {
    text-align: center;
}

p {
    text-align: center
}

#missao {
    font-size: 20px
}

em strong {
    color: red
}

ul {
    display: inline-block;
    vertical-align: top;
}

.itens {
    font-style: italic;
}

.imagemBeneficios {
    margin-left: 15%;
    width: 50%;
}